<header>
  <h1>Gerenciamento de Cursos e Salas</h1>
</header>
    {{#if errorMessage}}
      <p style="color: red;">{{errorMessage}}</p>
    {{/if}}
<main>
 
  <section class="form-section">
    <h2>Agendar Curso</h2>
    
    <!-- Exibe a mensagem de erro, se houver -->

    <form id="formAgendamento" action="/add" method="post">
      <input type="text" id="nomeCurso" placeholder="Nome do Curso"  name="NomeCurso"/>
      <input type="text" id="nomeSala" placeholder="Nome da Sala"  name="Sala" />
      <input type="date" name="Data" />
      <input type="time" name="Horario"/>
      <button type="submit">Agendar</button>
    </form>
  </section>

</main>
