
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

h1,h2,p{
    
    text-align: center;
    padding: 20px 20px;
}

h1{
    margin-top: 2%;
}



.btnNew{
    position:absolute; 
    top: 1%;
    width: 15%;
    left: 5%;
}

.btbDel, .btnEdit{
    position: absolute;
    margin: 3%  0 0 95%;
}

.btnEdit{
    
    margin: 1%  0 0 95%;
}

.btnCal{
    position: absolute;
    width: 15%;
    top: 1%;
    left: 80%;
    
}

input, select, button,a {
    
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button,a {
    align-items: center;
    text-align: center;
    justify-content: center;;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,a:hover {
    background-color: #45a049;
}

.table{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    border: 2px solid gray; 
    height: 100%;
  
}

.vertical{
    height: 100%;
    border-right: 1px solid gray;
}
.order{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order button, .btnCal, .btnNew{
    padding: 20px;
}

.order button:hover{
    background-color: #45a049;
}